*{
	margin:0;
	padding:0;
}
body{
	background:url('../imagens/backgrounds/bgConsole.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 64px;
	background-color: #373737 !important;
}
header.tj-top{
	width: 100%;
	height: 50px;
	padding: 7px 0;
}
header.tj-top #logo{
	margin-top: -4px;
	margin-left: 10px;
	position: absolute;
}
header.tj-top #logo img{ width: 100%; }
header.tj-top #logo a{ outline:  none; }
header.tj-top .user-space{
	float:right;
    padding:2px;
    width:50%;
    margin-right: 2%;
    margin-top: 5px;
}
.clearfix:after {    
 	content:".";   
    display:block; 
    height:0;    
    clear:both;  
    visibility: hidden;
 } 
.tj-top .inf{
	width: 100%;
	height: 100px;
}

.tj-top .inf .user-space .user-acao li, .logado{
	list-style-type: none;
	cursor:pointer;
	width:auto;
	padding: 8px;
	background:rgba(255, 255, 255, 0.0666667);
	margin-left:2px;
	text-align: center;	
	border-radius:4px;
	display: inline-block;
}
	.tj-top .inf .user-space .user-acao li a{
		font:14px Arial,Lato, helvetica;
		color:#069;
		text-decoration: none;
	}
	.tj-top .inf .user-space .user-acao li a:hover{
		color:#0083ff;
	}

/*MENU CONSOLES*/
#main-menu{
	width: 100%;
    /* padding: 15px; */
    margin-top: 19%;
    display: block;
    margin-bottom: 20px;
}
#main-menu .nav{
	width: 100%;
	/* margin-left: 5%; */
}
#main-menu .nav > .navbar-menu{
	width: 100%;
	margin: 0;
}
#main-menu .nav .navbar-menu li{
	text-align: center;
    display: inline-block;
	padding: 1%;
	margin:5px;
}
#main-menu .nav .navbar-menu li:hover{
	box-shadow: 1px 1px 5px 0px #000;
}
#main-menu .nav .navbar-menu li#ps4{ background: #1357e1; }
#main-menu .nav .navbar-menu li#ps3{ background: #1e81fc; }
#main-menu .nav .navbar-menu li#xbox360{ background: #0E7B0E; }
#main-menu .nav .navbar-menu li#xboxone{ background: #004B06; }
#main-menu .nav .navbar-menu li#wii{ background: #e11313; }
#main-menu .nav .navbar-menu li#wiiu{ background: #b813e1; }
#main-menu .nav .navbar-menu li#psvita{ background: #ff6d02; }
#main-menu .nav .navbar-menu li#ds{ background: #710000; }
#main-menu .nav .navbar-menu li#pc{ background: #000000; }
#main-menu .nav .navbar-menu li#switch{ background: #3f51b5; }

#main-menu .nav .navbar-menu li .link{
	font-family: 'source_sans_proregular';
    font-size: 1.1em;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
	font-weight: 600;
	text-shadow: 0px 0px #000, 2px 0px #000;
}
#boxConsole{
	width: 100%;
	background:#d8d8d8;
	/* margin:2% 0% 5% 5%;	 */
	display: block;
	padding-bottom: 3%;
}
#boxConsole #info{
	width: 100%;
	display: block;
	background: #bbbbbb;
	padding:10px 0;
}
	#boxConsole #info #nomeConsole{
		margin-left: 3%;
		font-family: 'source_sans_probold';
		font-size: 3em;
		color:#1b6fbe;
	}
	#boxConsole #info #qtdJogo{
		font-family: 'source_sans_proregular';
		font-size: 3em;
		color:#23292f;
	}
	#boxConsole #info > b{
		font-family: 'source_sans_proregular';
		font-size: 1.2em;
		font-weight: normal;
		color:#fff;
	}
#boxConsole .each-game{
	width: 100%;
    display: inline-block;
    background: #bbbbbb;
    margin-top: 1rem;
    padding-bottom: 1%;
}
#boxConsole .each-game:hover{
	box-shadow: 1px 1px 5px 0px #000;
}
#boxConsole .each-game img{
	width: 80%;
	margin: 10% 10% 5% 10%;
}
#boxConsole .each-game a{
	text-decoration: none;
	outline: none;
	text-align: center;
}
#boxConsole .each-game .nome-jogo{
	width: 100%;
	font-family: Arial, helvetica,sans-serif;
	font-size: 1em;
	color:#323232;
	display: block;
}
#notFound{
	font-family: 'source_sans_proregular';
    color: #4b4b4b;    
    font-size: 2em;
    margin: 2%;
    width: 100%;
    padding-top: 10px;
    display: block;
}
#select{
	width: 240px;
    outline: none;
    background: #fff;
    border: 1px solid #0e7b0e;
    margin: 15px;
}
#select select{
	width:100%;
    overflow: hidden;
    background: #4e4e4e;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #fff;
    font-size: 1.2em;
    font-family: 'source_sans_proregular';
	padding: 5px;
}
	#select select option{
		padding: 4px 2px;
		color: #ffffff;
	}
.nopadding{
	margin:0 !important;
	padding:0 !important;
}

/*@media queries*/
@media screen and (max-width: 576px){
	#main-menu .nav .navbar-menu li {
		padding: 1%;
		width:49%;
		margin: 2px 0px;
	}
	
	#boxConsole .each-game{
		display: block;
		width:60%;
		margin: .5rem auto; 
	}
	#boxConsole #info{ text-align: center; }
}

@media screen and (min-width: 576px) and (max-width: 767px){
	#main-menu .nav .navbar-menu li {
		padding: 1%;
		width:32%;
		margin: 2px 0px;
	}
	#boxConsole #info{ text-align: center; }

}

@media screen and (min-width: 768px) and (max-width: 991px){
	#main-menu .nav .navbar-menu li {
		padding: 1%;
		width: 19.3%;
		margin: 5px 0px;
	}
}

@media (min-width: 992px){
	#main-menu .nav .navbar-menu li {
		padding: 1%;
		width: 15%;
	}
}