/*layout da página Index.php*/
@charset "UTF-8";
*{margin:0;padding: 0;}
body{
	background: #333333;
	color: #ffffff;
}
.main_box{
	width: 90%;
	margin: 0 auto;
}
.clearfix:after {    
 	content:".";   
    display:block; 
    height:0;    
    clear:both;  
    visibility: hidden;
 } 
.tj-top{	
	width: 100%;
	height:200px;
}
.tj-top .inf{
	width: 100%;
	height: 100px;
}
.tj-top .inf span#logo{
	height: 50px;
    margin-left:2px;
    margin-top:20px;
    position:absolute;
    padding: 2px;
}
.tj-top .inf span#logo a{outline: none;}
.tj-top .inf .user-space{
 	float:right;
    margin-top:30px;
    padding:2px;
    width:50%;
}
.tj-top .inf .user-space .user-acao .logado{
	list-style-type: none;
	cursor:pointer;
	width:auto;
	padding: 8px;
	background:rgba(255, 255, 255, 0.0666667);
	margin-left:2px;
	text-align: center;	
	border-radius:4px;
	float: right;
	transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
	.tj-top .inf .user-space .user-acao .logado a{
		font-family: 'source_sans_prolight';
		font-size: 14px;
		font-weight: bold;
		color:#fff;
		text-decoration: none;
	}
	.tj-top .inf .user-space .user-acao .logado:hover{
		background:#0083ff;
	}
#main-menu{
	width:100%;
	padding: 0;
	margin-top:5px;
	display: block;
}
#main-menu .navs{
	width: 100%;
	height:30px;
	border-bottom-width:3px;
	border-bottom-style:solid;
	border-bottom-color:rgba(255, 255, 255, 0.0666667);
}
#main-menu .navs >ul{
	width: 100%;
	margin: 0;
}
#main-menu .navs ul .cns-menu{
	width:100px;
	height: 20px;
	display: inline-block;	
	padding: 5px;
}

#main-menu .navs ul .cns-menu .link{
	font-family: 'source_sans_probold';
    font-size: 1.2em;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom-color: transparent;
    /* height: 20px; */
    padding: 2px 7px 0px 7px;
    /* position: absolute; */
    outline: none;
    /* background: #000; */
}
#main-menu .navs ul .cns-menu .link:hover{
	border-bottom-color:#069;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	height: 15px;
}
.conteudo{
	width: 100%;
}
.conteudo section.secao{
	width:80%;
	margin:10px auto;
	padding:5px;
	text-align: center;
}
	.conteudo section.secao h3{
		font:28px NoveLight, Arial, sans-serif;
		color:#E9E9E8;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	.conteudo section.secao h4{
		font:13px Lato, helvetica, sans-serif;
		color:#8a8a8a;
		margin-top: 5px;
		letter-spacing:1.5px;
	}
.conteudo .box_pesquisa{
	width:82%;
	margin:10px auto;
	padding: 3px;	
}
	.conteudo .box_pesquisa #pesquisa{
		width:80%;
		margin:0 auto;
		height:30px;
		box-shadow: 1px 1px 3px #8a8a8a;
		font:22px arial,helvetica, sans-serif;
		color:#333;
		text-align: left;
		outline: none;
		border: none;
		margin-left: 30px;
		padding: 3px;
		border-radius: 4px;		
	}
.conteudo .box_pesquisa .input_container ul#lista_jogos{
	margin: 0 auto;
	padding: 1.5px;
	display: none;
	position:absolute;
	width:980px;
	z-index:9999;
}
	.conteudo .box_pesquisa .input_container ul li{
		width: 81%;
		margin: 0px 0px 0px 28px !important;
		background: #ccc;
		list-style-type: none;
		border-bottom: 1px dotted #333333;
		padding: 6px 0 13px;
		
	}
.conteudo .box_pesquisa .input_container ul li a{
	width: 100%;
    text-align: center;
    color: #333;
    font-size: 1.2em;
    font-family: Arial, helvetica, sans-serif;
    text-decoration: none;
    display: block;
}
		.conteudo .box_pesquisa .input_container ul li:hover{
			background: #eaeaea;
			cursor: pointer;
		}
		.conteudo .box_pesquisa .input_container ul li img{
			width: 35px;
			height: 40px;
			margin-left: 5px;
			margin-top: -3px;
			float: left;
		}
			.conteudo .box_pesquisa .input_container ul li h3{
				font:20px Arial, helvetica, sans-serif;
				color:#333;
				padding-top:5px;
				padding-left:65px;
				margin:0px;
			}	

	.conteudo .box_pesquisa .btn-enviar{
		padding: 10px;		
		height: 36px;		
	    border:none;	    
	    border-radius: 5px;	   
		margin: -10px 0 0 5px;
		color:#fff;
		font:16px arial,sans-serif;
		cursor:pointer;

		background: -webkit-linear-gradient(#069, #09f); /* For Safari 5.1 to 6.0 */
  		background: -o-linear-gradient(#069, #09f); /* For Opera 11.1 to 12.0 */
    	background: -moz-linear-gradient(#069, #09f); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(#069, #09f);
	}
		.conteudo .box_pesquisa .btn-enviar:hover{
			background: -webkit-linear-gradient(#09f, #069); /* For Safari 5.1 to 6.0 */
  			background: -o-linear-gradient(#09f, #069); /* For Opera 11.1 to 12.0 */
    		background: -moz-linear-gradient(#09f, #069); /* For Firefox 3.6 to 15 */
    		background: linear-gradient(#09f, #069);
		}
/*formatação da caixa de login e cadastro*/
#overlay{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background-color: #000;
	z-index: 11;
	opacity: 0.5;
	display: none;
}
.cx_content{
	width: 300px;
	background: -webkit-linear-gradient(#333, #666); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#333, #666); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#333, #666); /* For Safari 5.1 to 6.0 */
	background: linear-gradient(#333, #666); /* For Firefox 3.6 to 15 */
	position: absolute;
	left:50%;
	top:-50%;
	margin-top: -100px;
	margin-left: -150px; 
	display: none;
	z-index: 999;

	box-shadow: 1px 1px 3px #fbfbfb;
	-webkit-box-shadow: 1px 1px 3px #fbfbfb;
	-moz-box-shadow: 1px 1px 3px #fbfbfb;
}

.btn_cancela_acesso{
	background:#333333;
    border:3px solid #FFFFFF;
    border-radius:50%;
    float:right;
    height:40px;
    position:absolute;
    right:-23px;
    top:-14px;
    width:40px;
    cursor: pointer;
}
	.btn_cancela_acesso b{
		text-align: center;
		font: 15px Arial, helvetica, sans-serif;
		color: #fff;
		margin-left: 13px;
		margin-top: 9px;
		position: absolute;
	}
/*formatação do formulário de login*/
.box-login-cadastro .titulo-acesso{
	font: 14px ruda, sans-serif;
	color:#8d8d8d;
	margin:3px;
	width: 280px; 
}
	.box-login-cadastro .form-acesso{
		width: 100%;
		padding: 10px;
	}
	.box-login-cadastro .form-acesso p{display: block;}
	.box-login-cadastro .form-acesso p label{
		font:16px 'source_sans_proregular';
		color:#cccccc;
		display: block;
		margin-bottom: 4px;
	}
	.box-login-cadastro .form-acesso p label a{
		font:16px Arial, helvetica, sans-serif;
		color:#fff;		
		margin-left: 10px;
		text-decoration: none;
		margin-top: 30px;
	}
	.box-login-cadastro .form-acesso p label a:hover{text-decoration: underline;}
	.box-login-cadastro .form-acesso p input[type='text'],.box-login-cadastro .form-acesso p input[type='password']{
		border:none;
  		border-radius:3px;
  		color:#8d8d8d;
  		font-family:'source_sans_proregular';
  		font-size:15px;
  		height:30px;
  		line-height:normal;
		margin-bottom:10px;
  		width:100%;
  		padding: 2px;
  		outline: none;
	}
	/*botão logar/cadastrar */
	.box-login-cadastro .form-acesso p #btn-logar,.box-login-cadastro .form-acesso p #btn-cadastrar{
		width: 100%;
		padding: 6px 0px;
		border-radius: 3px;
		border: none;
		font-family:'source_sans_proregular';
		font-size: 1.2em;
		color: #fff;
		cursor: pointer;
		margin-top: 10px;
		margin-bottom: 10px;
		outline: none;
		font-weight: bold;
		letter-spacing: 1px;
		box-shadow: 1px 1px 2px #3D3D3D;
		background: -webkit-linear-gradient(#A31313,#c91212);
		background: -o-linear-gradient(#A31313,#c91212);
		background: linear-gradient(#A31313,#c91212);
		background: -moz-linear-gradient(#A31313,#c91212);
	}
		.box-login-cadastro .form-acesso p #btn-logar:hover, .box-login-cadastro .form-acesso p #btn-cadastrar:hover {
			background: -webkit-linear-gradient(#c91212,#A31313);
			background: -o-linear-gradient(#c91212,#A31313);
			background: -moz-linear-gradient(#c91212,#A31313);
			background: linear-gradient(#c91212,#A31313);
		}

	.box-login-cadastro .form-acesso p input[type='text']:focus,.box-login-cadastro .form-acesso p input[type='password']:focus{
		border:1px solid #0094f5;
	}
#result{
	padding: 4px;
    margin: 10px auto;
    border: 1px solid #ed0000;
    font-size: 1.2em;
    color: #fff;
    background: #820c0c;
    display: none;
    text-align: center;
    font-family: 'source_sans_proregular';	
}
/*botão conectar com facebook*/
.facebook{
	background:#3A5795;
	width: 290px;
	border: none;
    border-radius:3px;
    padding: 10px;
    text-align:center;
    margin:4px 5px;
    cursor:pointer;
    font:14px Arial, helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow:#3d3d3d 1px 1px 0;
    color:#fff;
    box-shadow: 1px 1px 2px #3D3D3D;
}
.main{
	width: 100%;
	background: #373737;
	margin-top: 50px;
}
#lastgamesBox{
	width: 100%;
    background: #ffffff;
    padding: 15px;
    display: inline-table;
	min-height: 360px;
}
#lastgamesBox .last-records{
	display: block;
    padding: 8px 15px;
    text-align: left;
    font-family: 'source_sans_probold';
    font-size: 1.4em;
    color: #333;
    background: #ccc;
    margin-bottom: 15px;
}
#lastgamesBox .single-game{
	width:100%;
	background:#595094;
	padding:10px;
	cursor:pointer;
	margin: 10px 0px;
}
#lastgamesBox .single-game:hover{
	background: #473b99;
}
#lastgamesBox .single-game .img-game{ width:100%; height: 190px;}
#lastgamesBox .single-game .name-game{
	display: block;
    background: #333;
    text-align: center;
    padding: 7px;
    font-size: 1em;
    font-family: 'source_sans_proregular';
    color: #fefefe;
}


/*****||||||FORMATAÇÃO DA GALERIA DE JOGOS|||||||****/
.arrow{	
	bottom:-16px;
    height:16px;
    left:-14.3%;
    margin-left:1;
    overflow:hidden;
    display: none;
    top:50%;
    margin-top:-10px;
    width:70px;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);

}
.arrow.top {
	top: -26px;
	bottom: auto;
}
.arrow.left {
	left: 50%;
}
.arrow:after {
	content: "";   
	position:absolute;
	left: 89px;
	top: -90px;
	width: 28px;
	height: 28px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);	
	background:#fff;
	z-index: 10;
}
span#titulo-galeria{
	width: 100%;
	height: 50px;
	background:#000000;
	opacity: 0.5;
	margin-bottom: 5px;
	margin-top: 20px;
	display: block;
	padding: 9px 0 2px 0;
}
span#titulo-galeria h4{
	font:40px Arial, helvetica, sans-serif;
	color:#ffffff;
	height:20px;
	text-align: center;
}
.nopadding{
	padding:0px !important;
	margin:0px !important;
}
.main .galeria{
	width: 100%;
	margin: 25px 0 10px 0;
}
.main .galeria .box-galeria-jogos{
	width: 100%;
	position: relative;
}
.main .galeria .box-galeria-jogos li{
	z-index: 10;
	width: 100%;		
	padding: 10px 10px;
	list-style-type: none;
	background: linear-gradient(#02222D, #05495E,#02222D);
	background: -webkit-linear-gradient(#02222D, #05495E,#02222D);
	background: -o-linear-gradient(#02222D, #05495E,#02222D);
	background: -moz-linear-gradient(#02222D, #05495E,#02222D);
	text-align: left;
	cursor: pointer;
	font: 15px Lato,Arial, sans-serif;
	color: #D0CBC0;
	text-decoration: none;
}
.main .galeria .box-galeria-jogos li:hover{
	background:linear-gradient(#05495E,#02222D,#05495E);
	background: -webkit-linear-gradient(#05495E,#02222D,#05495E); /* Para Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#05495E,#02222D,#05495E); /* Para Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#05495E,#02222D,#05495E); /* Para Firefox 3.6 to 15 */

	opacity: 1;
	color: #CD6C03;
	position: relative;
	animation: moveFromTop 300ms ease-in-out;
	-webkit-animation: moveFromTop 300ms ease-in-out;
	-moz-animation: moveFromTop 300ms ease-in-out;
	-ms-animation: moveFromTop 300ms ease-in-out;
}
@keyframes moveFromTop{
	from {
		opacity: 0;
		-webkit-transform: translateY(-25%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-25%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromTop {
    from {
        opacity: 0;
        -moz-transform: translateY(-25%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        opacity: 0;
        -ms-transform: translateY(-25%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}
.actived{
	background:linear-gradient(#05495E,#02222D,#05495E);
	background: -webkit-linear-gradient(#05495E,#02222D,#05495E); /* Para Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#05495E,#02222D,#05495E); /* Para Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#05495E,#02222D,#05495E); /* Para Firefox 3.6 to 15 */
  	font-size: 18px !important;
    opacity: 1;
    color: #CD6C03 !important;
}
.bgfiltro{
	background: #069 !important;
}
/*configurar dentro de cada quadro onde os games serão mostrados*/
.main .galeria #resultado-links{
	width: 100%;
    background: #d5d5d5;
    z-index: 10;
}
.main .galeria #resultado-links .quadro-galeria{
	width: 100%;
    height: 359px;
}
/*formatação da vitrine dos jogos*/
.main .galeria #resultado-links .quadro-galeria .galeria-principal{
	width: 100%;
    padding: 13px 0px;
    background: #ccc;
	list-style-type: none;
	display: inline-block;
	min-height: 335px;
}

.main .galeria #resultado-links .quadro-galeria .galeria-principal .msgFalha{
	width: 99%;
    padding: 10px 1px 10px 10px;
    position: absolute;
    margin: 100px 0;
    font-size: 1.5em;
    color: #292929;
    font-family: 'source_sans_proregular';
}
.main .galeria #resultado-links .quadro-galeria .galeria-principal .msgFalha #btn-enter, #btn-register{
    padding: 3px 20px;	   
    margin-left: 10px;
    cursor: pointer;
    color: #fff;	    
    background: -webkit-linear-gradient(#1ead57, #21c060);
    background: -o-linear-gradient(#1ead57, #21c060);
    background: -moz-linear-gradient(#1ead57, #21c060);
    background: linear-gradient(#1ead57, #21c060);
    border: none;
    font-family: 'source_sans_proregular';
    font-size: 0.8em;	    
}
.main .galeria #resultado-links .quadro-galeria .galeria-principal .vitrine{
	list-style-type: none;
	transition: 0.5s;
	padding: 5px;
	width: 100%;
	text-align: center;
}
	.main .galeria #resultado-links .quadro-galeria .galeria-principal .vitrine:hover{
		background: #373737;

	}
.main .galeria #resultado-links .quadro-galeria .galeria-principal .vitrine > a img {
	width: 95%;
    height: 250px;
    margin: auto;
}

.main .galeria #resultado-links .quadro-galeria .galeria-principal .vitrine .infogame{
	background: #02232F;
    display: block;   
    padding: 13px 0;
    text-align: center;
    font-family: Arial, helvetica, sans-serif;
}

/*Quadro como funciona*/
#info-funcional{
	width: 100%;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #d8d8d8;
    display: inline-table;
}
	#info-funcional header{
		width: 100%;
	}
	#info-funcional header h3{
		font-family: Calibri, Arial, helvetica;
		font-size: 40px;
		text-align: center;
		color:#707070;
		margin-top: 20px;
	}
#info-funcional .passos .img-passos{
	width: 150px;
	height: 120px;
	background-image: url(../imagens/icones/bg_etapas.png);
	margin: auto;
}
#info-funcional .passos .img-passos#img-cadastrar{
	background-position: 0px 0px ;
}

#info-funcional .passos .img-passos#img-pesquisar{
	background-position: 12px -485px;
}

#info-funcional .passos .img-passos#img-concluir{
	background-position:  9px -242px;
}

#info-funcional #passo-a-passo{
	width: 100%;
}
	#info-funcional #passo-a-passo li.passos{
		width: 100%;
		min-height: 230px;
		padding: 4px;
		box-shadow: 0px 0px 4px #515151;
		margin-top:15px;
	}
#info-funcional #passo-a-passo li.passos:hover{box-shadow: 0px 0px 10px #515151;}
#info-funcional #passo-a-passo li.passos h4{
	font-family:'source_sans_probold';
	font-size:2em;
	margin:2px 0;
	text-align:center;
}
#info-funcional #passo-a-passo li.passos h4#first-title{color:#0f8a8b;}
#info-funcional #passo-a-passo li.passos h4#second-title{color:#8c0d0d;}
#info-funcional #passo-a-passo li.passos h4#third-title,#info-funcional #passo-a-passo li.passos b{color:#0b95ca;}

#info-funcional #passo-a-passo li.passos .topo-info{
	display:inline-table;		 
    margin:-5px 14px;
	width:90%;
}
#info-funcional #passo-a-passo li.passos .topo-info p{
	font-family: 'source_sans_proregular';
	font-size: 1.2em;
	text-align: left;
	margin-top: 13px;
	color:#313131;
}
#devices{
	width:100%;
	display: inline-table;
	padding:10px;
}
#devices .device{
	width:100%;
	display: block;
	list-style: none;
	margin:10px;
}
#devices .soon{
	opacity: 0.5;
}
#devices .device .for_device{
	width:100%;
	padding:5px;
	display: block;
	text-align: center;
	font-family: 'source_sans_probold';
	color: #333333;
	font-size: 1.2em;
	background:#ffffff;
}
#devices .device .img-device{
	margin:auto;
	display: block;
}
/*FORMATAÇÃO DO SCROLLBAR*/
	::-webkit-scrollbar{
	  width: 10px;
	  background: #dbe8ec;
	}
	::-webkit-scrollbar-button{
	  width:8px;
	  height: 5px;
	}
	::-webkit-scrollbar-track{
	  background:#3c454e;
	  border:thin solid #1a1f25;
	  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	  -webkit-border-radius: 10px;
	  border-radius: 10px;
	}
	::-webkit-scrollbar-thumb{
	  background: -webkit-linear-gradient(top, #1E6F98, #1c7eaf);
	  box-shadow: inset 0 1px 0 rgba(255,255,225,.5), inset 1px 0 0 rgba(255,255,255,.4), inset 0 1px 2px rgba(255,255,255,.3);
	  -webkit-box-shadow:   inset 0 1px 0 rgba(255,255,225,.5), inset 1px 0 0 rgba(255,255,255,.4), inset 0 1px 2px rgba(255,255,255,.3);
	  border:thin solid #232c34;
	  border-radius: 10px;
	  -webkit-border-radius: 10px;
	}
	::-webkit-scrollbar-thumb:hover{
	    background: -webkit-linear-gradient(top, #1c7eaf, #1E6F98);
	}
	/* Pseudo-clase */
	::-webkit-scrollbar-thumb:window-inactive {
	  background: rgba(142,142,142,.6);
	}

@media only screen and (max-width: 767px) {
	#info-funcional #passo-a-passo li.passos .topo-info p{ text-align:center; font-size:1.5em; }

	#lastgamesBox .single-game .img-game{ height:260px; }
}