/*geral*/
/*reset margin*/
.nopadding{
	margin:0;
	padding:0;
}
/*CADASTRO DOS JOGOS*/

#minha-escolha{
	display: none;
	margin-bottom: 10px;
}
.boximg{
	width: 165px;
    height: 190px;
    float: left;
    background: #fff;
    border-radius: 4px;
    border: 2px solid #0e7b50;
    padding: 5px;
}
.boximg img{
	width: 150px;
	height: 175px;
}
.imagens{
	background:#095089;
    float:left;
    margin-left:5px;
    width:65%;
}
.imagens .image-game{
	width: 150px;
	height: 175px;
	cursor: pointer;
	margin: 10px;
	display: inline-block;
    border-radius: 2px;
}
.imagens .each-img{
	display: inline-block;
}
.box_new_img, .box_new_img2{
	display: none;
}

#boxjogo_favorito{display: none;}
#descricao,#infoExtra{ resize:none; }
#field_obrigatorio{
	font-size:1em;
 	font-family: Arial, helvetica, sans-serif;
 	color:#292929;
 	margin-left: 2.5%;
}
.opcao-jogos {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 48px;
    border: 1px solid #f9f9f9;
    margin-bottom: -7px;
    margin-left: 5px;
    border-radius: 10px;
}

.opcao-jogos:after {
  content: "";
  clear: both;
}

.radio-op {
  	box-sizing: border-box;
    float: left;
    height: 20px;
    position: relative;
    width: 23px;
    cursor: pointer;
    list-style: none;
}

.radio-op + .radio-op {
  margin-left:0px;
}

.radio-op label{
	background: #575757 no-repeat center center;
    bottom: 0px;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 0px;
    position: absolute;
    right: 0px;
    text-indent: 100%;
    top: 0px;
    white-space: nowrap;
    height: 23px;
}
.radio-op:nth-child(2) label{
	border-radius:10px 0px 0px 10px;
	
}
.radio-op:nth-child(3) label{
	border-radius:0px 10px 10px 0px;	
}
.arrow{
	background: #ff0000;
    border-radius: 80%;
    height: 22px;
    margin-left: -4px;
    margin-top: 0px;
    padding: 4px;
    position: absolute;
    width: 22px;
    z-index: 9998;   
}
.arrow:after{
	content: "";
    clear: both;
}
.galeria{
	width: 100%;
	margin: 25px 0 10px 0;
	display: none;
}
	.galeria .box-galeria-jogos{
		width: 100%;
		padding: 0;
	}
	.galeria .box-galeria-jogos li{
		z-index: 10;
	    padding: 6px;
	    list-style-type: none;
		background:linear-gradient(#02222D, #05495E,#02222D);
		background: -webkit-linear-gradient(#02222D, #05495E,#02222D); 
  		/*background: -o-linear-gradient(#02222D, #05495E,#02222D); */
  		background: -moz-linear-gradient(#02222D, #05495E,#02222D); 
  		text-align: left;
  		cursor: pointer;
  		font:15px Lato,Arial, sans-serif;
  		color: #D0CBC0;
		text-decoration: none;
		display: inline-block;
		margin-top: 5px;
		border-radius: 4px;
	}
    .galeria .box-galeria-jogos li:hover{
    	background:linear-gradient(#05495E,#02222D,#05495E);
		background: -webkit-linear-gradient(#05495E,#02222D,#05495E); 
  		/*background: -o-linear-gradient(#05495E,#02222D,#05495E);*/ 
  		background: -moz-linear-gradient(#05495E,#02222D,#05495E); 

    	opacity: 1;
    	color: #CD6C03;
		position: relative;
		animation: moveFromTop 300ms ease-in-out;
    	-webkit-animation: moveFromTop 300ms ease-in-out;
        -moz-animation: moveFromTop 300ms ease-in-out;
        -ms-animation: moveFromTop 300ms ease-in-out;
    }
@keyframes moveFromTop{
	from {
        opacity: 0;
        -webkit-transform: translateY(-25%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-25%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromTop {
    from {
        opacity: 0;
        -moz-transform: translateY(-25%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        opacity: 0;
        -ms-transform: translateY(-25%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}
.actived{
	background:#000000 !important;
    opacity: 1;
    color: #CD6C03 !important;
}
/*box que recebe a mensagem de erro ao cadastrar*/
#msg_error{
	position: fixed;
	right: 25px;
	bottom: 0;
	display: none;
}
#msg_update{
	width: 100%;
    padding: 5px;
    text-align: center;
    font-family: Arial, helvetica, sans-serif;
    color: #fff;
    font-size: 1.2em;
    border-color: #fff;
    display: block;    
    border-radius: 3px;
    margin: 10px 0px;
    display: none;
}
.news{
	padding: 5px;
    background: #275c8b;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1em;
    color: #fff;
    display: block;
    border-radius: 4px;
    margin: 10px 0px;
}
.checkbox-genre{
	display: inline-block;
    padding: 5px;
    margin: 3px;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
#update_jogo .btn input[type=checkbox]{
	position: static !important;
	width: 20px;
	outline: none;
}
/*
.overlay{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background: #000;
	z-index: 10;
	opacity: 0.7;
	display: none;
	transition:0.5s;
}
#msg{	
	width: 300px;
	height: auto;
	border-radius:5px;
	border:1px solid #ccc;
	background: #000;
	opacity: 0.9;
	z-index: 11;
	display: block;
	padding: 0px 0px 17px;
	left:50%;
	margin-left:-150px;
	top:-50%;
	position: absolute;
	display: none;
}
#msg header{
	background:#FFFFFF;
 	border-bottom-color:#FFFFFF;
    border-bottom-style:dotted;
    border-bottom-width:1px;
    border-radius:6px;
    color:#333333;
    height:15px;
    margin:10px auto;
    padding:10px 0;
    text-align:center;
    text-transform:uppercase;
    width:95%;
}
#msg span{
	width: 95%;
	padding: 4px 0;
	text-align: left;
	margin: 10px;
	color:#ffffff;
}
.submit-btn {
	border: none;
	padding: 10px;	
	border-radius: 5px;
	color: #FFF;
	cursor:pointer;
	background: #61BAE4;
	outline: none;
	margin-top: 10px;
	transition:0.5s;
}*/		
#pop_botao_fecha{
    margin-bottom: -18px;
    margin-left: -17px;
    cursor: pointer;
    border-radius:20px;
    display: none;
}

/*MEUS JOGOS*/
#main_game{
	width: 100%;
	background: #ffffff;		
}
#main_game header{	
	background: #2e2d2d;
}
#main_game header h3.title_page{
	font: 1.5em Arial, helvetica, sans-serif;
    color: #cacaca;
    font-weight: bold;
    margin-top: -1px;
}
#main_game #add_game{
	padding: 11px 20px;
    border: 2px solid #777777;
    border-radius: 5px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition:0.5s all;
}
#main_game #add_game:hover{
	border-color:#3c9b1e;
}
#main_game #add_game:hover i{
	color:#3c9b1e !important;
}
.title_modal{
	font-size: 24px;
    color: #3c3a3a;
}
nav.mn-console{
	width: 90%;
	margin: 0 auto;
}
nav.mn-console > ul{
	width: 100%;
	margin-top:10px;
	padding: 0;

}
nav.mn-console ul .each-console{
	list-style: none;
	width: auto;
	padding: 15px;
	border-radius: 3px;
	background: #dedede;
	display: inline-block;;
	margin-left: 0.5%;
	text-align: center;	
	transition:0.5s;
}

nav.mn-console ul .each-console a{
	font-family: Arial, helvetica, sans-serif;
	color:#0085d1;					
	font-size: 1.0em;	
	text-decoration: none;
	font-weight: bold;
}
.box_jogos{
	width: 90%;
    margin: 10px auto;
    padding: 10px;
    display: table;
}
.box_jogos .each-game, .inativo{
	margin: 15px 0px;
	cursor:pointer;
	transition:0.3s;
	-o-transition:0.3s;
	-webkit-transition:0.3s;
	-ms-transition:0.3s;
}
.box_jogos .each-game:hover{
	background:#656565;
}
.box_jogos .each-game > img, .inativo > img{
	width: 70%;
    height: 200px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
.inativo{ opacity: 0.6; }
.inativo > img{
	cursor: not-allowed !important;
}

.box-opcao{
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    opacity: 0.8;
    padding: 0;
    width: 70%;
    height: 54px;
    background: #000;
}

.box-opcao span.nm_jogo{
	font-family: 'source_sans_probold';
    font-size: 1em;
    color: #e5e5e5;
    text-align: left;
    width: 100%;
    display: block;
    margin-left: 0;
    padding: 5px 4px;
}
#box_confirmacao{
	width: 500px;
	height: 150px;
	padding: 10px;
	border-radius:5px;
	background:#ffffff;
	top:50%;
	margin-top:-75px;
	left: 50%;
	margin-left: -250px;
	position: absolute;
	display: none;
	z-index: 101;
}
#box_confirmacao .alert-title{
	width: 100%;
	background: #747373;
	border-radius: 4px;
	padding:8px 0;
	text-align: center;
	font:15px Arial, helvetica, sans-serif;
	color:#ccc;
	text-transform: uppercase;
}
#box_confirmacao .alert-msg{
	width: 99%;
	height: 70px;
	background:#ccc;
	display: block;
	padding:5px 0 5px 5px;
	color:#666666;
	font-size: 1.5em;
}
#box_confirmacao .alert-btn{
	width: 100px;
	padding:8px;
	border-radius: 4px;
	background:#e5e5e5;
	border:none;
	font:15px Arial, helvetica, sans-serif;
	color:#747373;
	cursor: pointer;
	margin-top: 5px;
	float: right;
	margin-right: 3px;
	transition:0.3s;
	outline: none;
}
#alert-confirma:hover{
	background: #00b11e;
	color:#ffffff;
}
#alert-cancela:hover{
	background: #ef1924;
	color:#ffffff;
}
.alert-overlay{
	top:0;
	width: 100%;
	height: 100%;
	left: 0;
	position: absolute;
	background: #cccccc;
	opacity:0.8;
	z-index:100;
	display: none;
}

#msg{	
	width: 300px;
	height: auto;
	border-radius:5px;
	border:1px solid #ccc;
	background: #000;
	opacity: 0.9;
	z-index: 11;
	display: block;
	padding: 0px 0px 17px;
	left:50%;
	margin-left:-150px;
	top:-50%;
	position: absolute;
	display: none;
}
	#msg header{
		background:#FFFFFF;
	 	border-bottom-color:#FFFFFF;
	    border-bottom-style:dotted;
	    border-bottom-width:1px;
	    border-radius:6px;
	    color:#333333;
	    height:15px;
	    margin:10px auto;
	    padding:10px 0;
	    text-align:center;
	    text-transform:uppercase;
	    width:95%;
	}
	#msg span{
		color:#FFFFFF;
	  	font-family:arial, helvetica, sans-serif;
	  	font-size:1.5em;
	  	margin:10px;
	 	padding:4px 0;
	  	text-align:left;
	  	width:95%;

	}
#msg-none{
	width: 100%;
	font:28px Arial, helvetica, sans-serif;
	color:#069;
	border:1px solid #ccc;
	display: block;
	padding:15px;
}
.submit-btn {
	border: none;
	padding: 10px;	
	background:#61BAE4;	
	border-radius: 5px;
	color: #FFF;
	cursor:pointer;
	transition:0.5s;
}
.actived{
	background:#000000 !important;
    opacity: 1;
    color: #ffffff !important;
}

/*PÁGINA ATUALIZAR E DELETAR JOGO*/
#boxAtualiza{
	padding: 0;
	z-index: 9999;
}
 .clearfix:after{
 	content: ".";
 	display: block;
 	height: 0;
 	clear: both;
 	visibility: hidden;
 }
#boxGame{ 
	background: #ffffff;
    padding: 7px; 
}

#boxGame .img_jogo{ width: 100%; }
/*#boxGame #form{
	width: 70%;
	float: right;
}
#boxGame #form p{ width: 100%;}
#boxGame #form form p label{
	font-family: Arial, helvetica, sans-serif;
	color:#ccc;
	font-size: 14px;
	display: none;
}
#boxGame #form p input[type="text"], #boxGame #form p textarea{
	width: 98%;
	padding:1%;
	outline: none;
	text-align: left;
	font-family: Arial, helvetica, sans-serif;
	font-size: 1em;
	color:#4b4b4b;
	background:#e5e5e5;
	border:none;
}
#boxGame #form p textarea{
	resize:none;
}*/
#boxGame #form #btn_group{ width: 100%; margin-top:15px;}
#boxGame #form #btnAtualiza{ background: #e48e05; }
#boxGame #form #btnDeleta{ 
	width: 100%;
	margin-top: 10px;
 }
 #boxGame #form #btnCancelaDelete{
 	width: 100%;
 }
/*box confirma deleção*/
#confirm-delete{
	width: 100%;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: none;
}
#confirm-delete .box-dialog{width: 100%;}
#confirm-delete .box-dialog .box-content{
	width: 100%;
	padding:5px;
}
#confirm-delete .box-dialog .box-content .box-header{
	width: 100%;
	text-align: center;
}
#confirm-delete .box-dialog .box-content .box-header h4{ 
    font-size: 16px;
    color: #3c3a3a;
}

/*box mensagem de retorno*/
#feedback_message{
	width: 100%;   
    padding: 10px;    
    border: 1px solid #ccc;
    background: #ffffff;
    display: none;
}
#feedback_message .box-header{ width: 100%; text-align: center;}
#feedback_message .box-header h4{
	font-size: 18px;
    color: #1aab52;
}
#feedback_message .box-body{ text-align:  center;}
.form-control{margin-bottom: 10px;}

@media screen and (max-width: 576px){
	.box_jogos .each-game > img{ width:40% }
	.box_jogos .each-game .box-opcao{ width: 40%}
}
@media screen and (min-width: 577px) and (max-width: 767px){
	.box_jogos .each-game > img{ width:60% }
	.box_jogos .each-game .box-opcao{ width: 40%}
}