#profile{
    width: 100%; 
    text-align: center;
}
.msgcrud{
    width: 100%;
    display: block;
    text-align: center;
    height: 50px;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 12px;
    background-color: #00b147;
    font-family: Arial;
    color: #fff;
    font-size: 1.3em;
}

@media only screen and (max-width:462px){
    .title-main{font-size: 1.7em;}
    .lbl-standard{ font-size: 1.2em;}

    #btt-finish{
        width:90%;     
        margin-left: 17px;
    }
}
@media (max-width: 630px){
    #page-update .title-main{
        font-size: 1.2em !important;
        line-height: normal !important;
    }
}