
*{margin:0; padding: 0; }
body{
	background:url('../img/fundoLogar.jpg') ;
	background-repeat: no-repeat;
	background-size: 100%;
}
body #top{
	width: 100%;
	background: #292929;
	height: 60px;
	opacity: 0.8;
}
body #top img{margin-left: 15px;}
body #top img{margin-left: 15px;}
	#box_logar{
		width: 550px;
		height: 250px;
		background: #373737;
		margin: 5% auto;
	}
	#box_logar form{
		height:100px;
		margin-top:53px;
		position:absolute;
		width:548px;
	}
	#box_logar form p{
		width: 100%;
		height: 20px;
		padding: 10px;
	}
	#box_logar form p label{ 
		font:14px Arial,helvetica,sans-serif;
		color: #fff;
		margin-right: 15px;
		margin-top: 5px;
		display: inline-table;
	}
	
	#box_logar form p label #btn_enviar{
		border:9px solid #373737;
	    border-radius:28px;
	    cursor:pointer;
	    margin-left:378px;
	    margin-top:-79px;
	    position:absolute;
	}
	#box_logar form p label a{
		font:14px Lato, helvetica,sans-serif;
		color:#029bc9;
		margin-left:56px;
		margin-top:-30px;	
		display: inline-block;
	}
	#links-login{
		position: relative;

	}
	#result{
		width: 100%;
		padding: 5px 0 5px 2px;
		background: #a80000;
		font: 15px Arial,helvetica,sans-serif;
		color:#fff;
		display: none;
		text-align: center;
	}
.title-create-account{
	color:#dddddd;
	font-size: 1.2em;
}
.nopadding{
	margin: 0px !important;
	padding: 0px !important;
}
/*Recuperar senha*/
#boxRecover{
	width: 500px;
    background-color: #dddddd;
    padding: 10px;
    margin: 5% auto;
    border-radius: 10px;
}
#return_msg, #btn-back{
	display: none;
}
#email_recover{
	padding: 20px 10px;
    font-size: 1.2em;
}